<%# styles %>
<% col_style = "width: calc(100% / 5); text-align:left; padding: 8px 0" %>
<% red = "color: #cf2a42" %>
<% green = "color: #008344" %>
<% container = "margin-bottom: 16px"%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap" rel="stylesheet">
    <style>
      *{
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0;
        box-sizing: 'border-box';
        color: #2b2b2b;
      }
      body {
        background: #fff1d0;
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
      hr {
        height: 1px;
        background-color: #d0deff;
        border: none;
      }
    </style>
  </head>
  <body>
  <div style="margin: 24px">
    <h3 style="margin-bottom: 24px">Morning, <%= @user.first_name %></h3>
    <div style="display:flex; align-items:center; margin-bottom: 24px">
      <h1 style="margin-right: 16px; font-size: 40px">$<%= @total_equity %></h1>
      <p>Stocks P/L day 
        <span style="<%= @open_pnl > 0 ? green : red %>">
          <%=@open_pnl%>
        </span>
      </p>
    </div>
      <div class="positions-header" style="display: flex; align-items:center; justify-content:space-between">
          <p style="<%= col_style %>">Symbol</p>
          <p style="<%= col_style %>">Open qty</p>
          <p style="<%= col_style %>">Equity</p>
          <p style="<%= col_style %>">Avg price</p>
          <p style="<%= col_style %>">Open P/L</p>
      </div>
      <hr>
      <% if @stocks.present? %>
        <h3 style="text-align:right">Stock<h3>
        <% @stocks.each_with_index do |st, index| %>
            <div class="stock-container" style="display: flex; align-items:center; justify-content:space-between; <%= container %>">
              <p style="<%= col_style %>"><%= st.name.length > 4 ? st.name[0..4] : st.name %></p>
              <p style="<%= col_style %>"><%= (st.amount * 1).round(0) %></p>
              <p style="<%= col_style %>"><%= ((st.amount*st.price) * 1).round(2) %></p>
              <p style="<%= col_style %>"><%= (st.price * 1).round(2) %></p>
              <p style="<%= col_style %> ; <%= (st.open_pnl * 1) > 0 ? green : red %>"><%= (st.open_pnl * 1).round(2) %></p>
            </div>
            <% if index != @stocks.length - 1%>
              <hr>
            <% end %>
        <% end %>
      <% end %>
      <% if @cryptocurrencies.present? %>
        <h3 style="text-align:right">Crypto<h3>
        <% @cryptocurrencies.each_with_index do |cc, index| %>
          <div class="cryptocurrency-container" style="display: flex; align-items:center; justify-content:space-between; <%= container %>">
            <p style="<%= col_style %>"><%= cc.name %></p>
            <p style="<%= col_style %>"><%= (cc.amount * 1).round(2) %></p>
            <p style="<%= col_style %>">$<%= ((cc.amount*cc.price) * 1).round(2) %></p>
            <p style="<%= col_style %>">$<%= (cc.price * 1).round(2) %></p>
            <% if cc.open_pnl.present? %>
              <p style="<%= col_style %>; <%= (cc.open_pnl * 1) > 0 ? green : red %>"><%= (cc.open_pnl * 1).round(2) %></p>
            <% else %>
              <p style="<%= col_style %>">-</p>
            <% end %>
          </div>
          <% if index != @stocks.length - 1%>
            <hr>
          <% end %>
        <% end %>
      <% end %>
      <hr>
      <%= link_to "View on my dashboard", "https://creamdigest.com" %>
  </div>
  </body>
</html>
